# Dependency directories
node_modules/

# not commit tusk
3.Bugs_Roman/

# heavy files
Level3/3.2/frontend/books-page/
Level3/3.2/frontend/book-page/
Level3/3.2/frontend/books.zip

# just hide
Level3/3.2/estimate.txt
