# Dependency directories
node_modules/

# VScode
.vscode/

# WebStorm
.idea/

# not commit tusk
3.Bugs_Roman/

# heavy files
Level3/3.2/frontend/books-page/books-page_files/*.jpg
Level3/3.2/frontend/books-page/books-page_coppy.html
Level3/3.2/frontend/book-page/book-page_files/*.jpg
Level3/3.2/frontend/book-page/book-page_coppy.html
Level3/3.2/frontend/books.zip
Level3/3.2/uploads

# just hide
Level3/3.2/estimate.txt
Level3/3.2/real_estimates.txt
Level3/3.2/src/test.ts
Level3/3.2/sqlScripts/help.txt
Level3/3.2/dist
Level3/3.2/sqlScripts/test.sql
Level3/3.2/backups/
.DS_Store
