# Dependency directories
node_modules/

# WebStorm
.idea/

# not commit tusk
3.Bugs_Roman/

# heavy files
Level3/3.2/frontend/books-page/books-page_files/
Level3/3.2/frontend/books-page/books-page_files/books-page_coppy.html
Level3/3.2/frontend/book-page/book-page_files/
Level3/3.2/frontend/book-page/book-page_files/book-page_coppy.html
Level3/3.2/frontend/books.zip

# just hide
Level3/3.2/estimate.txt
Level3/3.2/real_estimates.txt
Level3/3.2/frontend/books-page/books-page_coppy.html
Level3/3.2/frontend/books-page/books-page.html
Level3/3.2/src/test.ts
